<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="container-fluid" th:action="@{/admin/}" th:object="${user1}" style="background: rgba(0,0,0,0.03); position: absolute; width: 100%; height: 100%">
    <div class="row">
        <header class="col-12" style="margin-top: 40px">
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="height: 40px">
                <span style="color: white; font-weight: bold" th:text="${user1.getEmail()}"></span>
                <span style="margin-right: 5px; margin-left: 5px; color: white">with roles:</span>
                <div th:each="role : ${user1.getRoles()}" th:text="${role.getRole()}" style="color: white; margin-right: 5px"></div>
                <a class="text-end" style="color: gray; margin-left: auto" href="/logout">Logout</a>
            </nav>
        </header>
        <nav class="sidenav" style="background-color: white; width: 300px; padding-top: 15px; height: 100%;
position: fixed; top: 40px; left: 0">
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <span class="nav-link btn btn-primary text-left"  style="width: 300px">Admin</span>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link text-left" href="/user/" style="width: 300px">User</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-10" style="margin-left: 310px; height: 100%">
            <h1 style="font-weight: normal; margin-top: 10px" class="text-left">Admin panel</h1>
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="admin-tab" role="tab" data-toggle="tab"
                           href="#admin" aria-controls="admin" aria-selected="true">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="adduser-tab" data-toggle="tab" role="tab"
                           href="#adduser" aria-controls="adduser" aria-selected="false">New User</a>
                    </li>
                </ul>
                <!-- Admin Page -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                        <table class="table border" style="border-color: gray; background-color: white">
                            <thead style="background: rgba(0,0,0,0.02)">
                            <tr><th style="font-weight: revert; font-size: large">All users</th></tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${Users}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getUsername()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td>
                                                <span th:each="role : ${user.getRoles()}" th:text="${role.getRole()}" style="margin-right: 5px"></span>
                                            </td>
                                            <td><button type="button" class="btn btn-info" data-toggle="modal" th:data-target="'#edit' + ${user.id}">Edit</button></td>
                                            <!-- Modal edit-->
                                            <div class="modal fade" th:id="'edit' + ${user.id}"
                                                 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <form action="#" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Edit User</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body col-6 align-self-center text-center font-weight-bold">
                                                                <div class="form-group ">
                                                                    <label for="id" class="col-form-label">ID</label>
                                                                    <input th:value="*{id}" disabled="disabled" class="form-control" id="id">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name">First Name</label>
                                                                    <input type="text" th:value="*{name}" name="name" required class="form-control" id="name">
                                                                </div>
                                                                <div >
                                                                    <label for="lastName">Last Name</label>
                                                                    <input type="text" th:value="*{lastName}" name="lastName" required class="form-control" id="lastName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Age" class="col-form-label">Age</label>
                                                                    <input type="number" th:value="*{age}" name="age" required class="form-control" id="Age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email" class="col-form-label">Email</label>
                                                                    <input type="text" th:value="*{email}" name="email" required class="form-control" id="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="password" class="col-form-label">Password</label>
                                                                    <input type="password" name="password" class="form-control" id="password">
                                                                </div>
                                                                <label for="role" class="col-form-label">Role</label>
                                                                <p class="form-group">
                                                                    <select id="role" size="2" required class="form-control" name="role" multiple>
                                                                        <option value="1">User</option>
                                                                        <option value="2">Admin</option>
                                                                    </select>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Edit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- End Modal Edit -->
                                            <td><button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#delete' + ${user.id}">Delete</button></td>
                                            <!-- Modal delete -->
                                            <div class="modal fade" th:id="'delete' + ${user.id}"
                                                 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <form action="#" th:action="@{/admin/delete/{id}(id=${user.id})}" th:object="${user}">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title font-weight-bold" id="ModalLabel">Delete User</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body col-6 align-self-center text-center font-weight-bold">
                                                                <div class="form-group">
                                                                    <label for="id2" class="col-form-label">ID</label>
                                                                    <input th:value="*{id}" disabled="disabled" class="form-control" id="id2">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name2">First Name</label>
                                                                    <input th:value="*{name}" disabled="disabled" class="form-control" id="name2">
                                                                </div>
                                                                <div >
                                                                    <label for="lastName2">Last Name</label>
                                                                    <input type="text" th:value="*{lastName}" disabled="disabled" required class="form-control" id="lastName2">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Age2" class="col-form-label">Age</label>
                                                                    <input type="number" th:value="*{age}" disabled="disabled" required class="form-control" id="Age2">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email2" class="col-form-label">Email</label>
                                                                    <input type="text" th:value="*{email}" disabled="disabled" required class="form-control" id="email2">
                                                                </div>
                                                                <label for="role2" class="col-form-label">Role</label>
                                                                <p class="form-group">
                                                                    <select id="role2" size="2" required class="form-control" disabled="disabled" multiple>
                                                                        <option value="1">User</option>
                                                                        <option value="2">Admin</option>
                                                                    </select>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- End modal delete -->
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Admin Page -->
                    <!-- Add User -->
                    <div class="tab-pane fade" id="adduser" role="tabpanel" aria-labelledby="adduser-tab">
                        <table class="table border" style="border-color: gray; background-color: white">
                            <thead style="background: rgba(0,0,0,0.02)">
                            <tr><th style="font-weight: revert; font-size: large">Add new user</th></tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <form action="#" th:action="@{/admin/adduser}" th:object="${user3}">
                                        <div class="container col-6 align-self-center text-center font-weight-bold">
                                            <div class="form-group">
                                                <label for="name3">First Name</label>
                                                <input type="text" th:value="${name}" name="name" required class="form-control" id="name3" placeholder="First name">
                                            </div>
                                            <div >
                                                <label for="lastName3">Last Name</label>
                                                <input type="text" th:value="${lastName}" name="lastName" required class="form-control" id="lastName3" placeholder="Last name">
                                            </div>
                                            <div class="form-group">
                                                <label for="Age3" class="col-form-label">Age</label>
                                                <input type="number" th:value="${age}" name="age" required class="form-control" id="Age3" placeholder="Age">
                                            </div>
                                            <div class="form-group">
                                                <label for="email3" class="col-form-label">Email</label>
                                                <input type="text" th:value="${email}" name="email" required class="form-control" id="email3" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="password3" class="col-form-label">Password</label>
                                                <input type="password" th:value="${password}" name="password" class="form-control" id="password3" placeholder="Password">
                                            </div>
                                            <label for="role3" class="col-form-label">Role</label>
                                            <p class="form-group">
                                                <select id="role3" size="2" required class="form-control" name="role" multiple>
                                                    <option value="1">User</option>
                                                    <option value="2">Admin</option>
                                                </select>
                                            </p>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success btn-lg" data-dismiss="modal">Add new user</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Add User -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>