<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Login page</title>
</head>
<body style="background-color: #f7faf9">
<div class="container" style="max-width: 410px; margin-top: 50px">
    <form name="f" action="/login" method="post">
        <h2 class="font-weight-bold">Please sign in</h2>
        <div style="margin-top: 20px">
            <div class="form-floating" >
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email address">
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            </div>
            <div>
                <td>Remember Me: <input type="checkbox" name="remember-me" /></td>
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" style="margin-top: 10px" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
